* {
  margin: 0px;
  padding: 0px;
  box-sizing: none;
}

.container {
  direction: flex;
  justify-content: center;
}

.container {
  background-color: #078080;
  width: 100%;
  height: 1063px;
}

/* texto hero*/

.container-hero {
  text-align: center;
}

.container-hero h5 {
  text-align: center;
  color: #abd1c6;
}

.container-hero h1 {
  text-align: center;
  color: #f1f8f7;
}

/* end texto hero*/

/* img */

img {
  position: relative;
  top: 50px;
}

/* end img*/
.gradiant {
  width: 100%;
  height: 250px;
  background: rgb(7, 128, 128);
  background: linear-gradient(
    180deg,
    rgba(7, 128, 128, 1) 0%,
    rgba(213, 244, 239, 1) 100%
  );
}
