.leaflet-container {
  height: 100vh;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  color: #333 !important;
  height: 350px !important;
  width: 500px;
  display: block;
  background: rgba(255, 255, 255, 0.2) !important;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(20px) !important;
  -webkit-backdrop-filter: blur(20px) !important;
  border-radius: 10px !important;
  border: 1px solid rgba(255, 255, 255, 0.18) !important;
}

.leaflet-popup-content {
  height: 300px !important;
  width: 450px !important;
}

.leaflet-container a.leaflet-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  text-align: center;
  width: 24px;
  height: 24px;
  font: 16px / 24px Tahoma, Verdana, sans-serif;
  color: #757575;
  text-decoration: none;
  background: transparent;
  margin-right: 5px;
  margin-top: 5px;
}

.map-container {
  position: relative;
  height: 100vh; /* Ajusta la altura según sea necesario */
}

.sidebar {
  font: 24px / 36px Tahoma, Verdana, sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 40vh; /* Ancho de la barra lateral */
  height: 90%;
  background-color: #ffffff3f;
  z-index: 1000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  display: flex; /* Establecer la barra lateral como un contenedor flexible */
  flex-direction: column; /* Apilar los elementos verticalmente */
  justify-content: center; /* Alinear los elementos verticalmente al centro */
  align-items: center; /* Alinear los elementos horizontalmente al centro */
  padding: 20px;
  transition: transform 0.3s ease;
  transform: translateX(-60vh); /* Ocultar la barra lateral por defecto */
}

.sidebar.show {
  transform: translateX(
    0
  ); /* Mostrar la barra lateral cuando se agrega la clase 'show' */
}

.sidebar-toggle-btn {
  position: absolute;
  top: 20px; /* Mover el botón hacia la parte superior de la barra lateral */
  left: 25%; /* Centrar horizontalmente el botón */
  transform: translateX(-50%); /* Centrar horizontalmente el botón */
  z-index: 1001;
}
