* {
  box-sizing: none;
  padding: 0px;
  margin: 0px;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #abd1c6;
  text-align: center;
}

.navbar li {
  display: inline-block;
  border: none;
}

.navbar a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}
