#root {
  margin: 0 auto;
  padding: 0px;
}

/* configuracion de etiquetas global*/

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10.625rem;
}

h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.25rem;
}

h5 {
  position: relative;
  bottom: 60px;
  color: #abd1c6;
}
